.section-feature {
  padding: 5rem 0;
  border-color: inherit;
}

.feature-box {
  gap: 5rem;
  justify-content: center;
}

.feature-text-box {
  gap: 1.5rem;
}

.feature-heading-text {
  display: inline-block;
  margin: 0 auto;
}

.feature-sm-text {
  color: rgb(100 102 112) !important;
  margin-left: auto;
  margin-right: auto;
}

.feature-items-box {
  gap: 1.5rem;
}

.feature-item-box {
  max-width: 28rem;
  gap: 1.5rem;
  padding: 1.5rem;
  align-items: center;
  justify-items: center;
}

.fib-img {
  width: 9rem;
  height: 9rem;
  margin-bottom: 0.5rem;
}

.fi-heading-text {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: rgb(31 37 59);
  text-align: center;
  max-width: 18ch;
}

.fi-sm-text {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  max-width: 28ch;
  color: rgb(100 102 112);
}
