.section-started {
  padding-top: 5rem;
  padding-bottom: 5rem;
  /*  */
  background-image: url("../assets/contact-us-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.started-box {
  gap: 2.5rem;
  justify-content: center;
}

.started-texts {
  gap: 1rem;
}

.gets-sm-text {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(255 255 255);
  font-weight: 600;
  pointer-events: none;
}

.gets-heading-text {
  max-width: 30ch;
  display: inline-block;
  text-align: center;
  color: rgb(255 255 255);
  pointer-events: none;
}

.started-form {
  max-width: 42rem;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
  padding: 12px 16px;
  border-radius: 1.5rem;
  background-color: rgb(255 255 255);
  pointer-events: none;
}

.email-input-box {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem 0.5rem;
  color: rgb(144 142 142);
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(255 255 255);
  border-width: 0;
}

.gets-btn {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  color: rgb(0, 2, 4);
  background-color: rgb(240, 205, 144);
  border-width: 0;
  border-radius: 11px;
  cursor: pointer;
}
