.section-stories {
}

.stories-box {
}

.stories-heading {
}

.story-items-box {
}

.story-item-link-box {
}

.story-item-box {
}

.story-item-img-box {
}

.story-item-img {
}

.story-item-text-box {
}

.time-text-box {
}

.date-text {
}

.min-text-box {
}

.clock-img {
}

.min-text {
}

.stories-box-heading {
}

.name-box {
}

.msi-img {
}

.person-name {
}

.story-item-img {
  height: 25rem;
  width: 25rem;
}

.msi-img {
  height: 25rem;
  width: 25rem;
}
