@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/*
--01 TYPOGRAPHY SYSTEM

-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-FONT WEIGHTS (px)
Default:
Medium:
Semi-bold: 
Bold: 
-LINE HEIGHTS (px)
 Default: 
Small: 
Medium: 
Paragraph Default: 

--Letter SPACING 



-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


-- 02 COLORS 

- Primary : 
- Tints : 
- Shades :
- Accents :
- Greys : 


-- 03 SHADOWS 


-- 04 BORDER-RADIUS 
Default : 
Medium : 


*/

@font-face {
  font-family: "Thicccboi";
  src: url("path/to/fonts/Thicccboi-Regular.ttf") format("truetype");
  /* Add other formats if available and needed */
  font-weight: normal;
  font-style: normal;
}

*,
::before ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #c3c3c3;
}

h2 {
  color: rgb(0, 2, 4);
  font-size: 3.625rem !important;
  line-height: 4.625rem !important;
}

h3 {
  color: rgb(0, 2, 4);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

body {
  font-family: "Thicccboi", sans-serif;
}

.container {
  max-width: 96rem;
  margin: 0 auto;
}

.section-padding-margin {
  padding: 2.5rem 1rem;
  margin: 0 auto;
}

.section-padding {
  padding: 5rem 0;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.grid--2--cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid--3--cols {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

.section-heading {
  font-size: 3.125rem;
  line-height: 3.875rem;
  text-align: center;
}

.section-sm-text {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  color: rgb(53, 53, 53);
}
